<form method="post" action="/marksheet">
    <p>
    Mark of EG : <input type="text" name="txt1"/>
    </p>

    <p>
    Mark of C : <input type="text" name="txt2"/>
    </p>
    <p>
    Mark Of OS : <input type="text" name="txt3"/>
    </p>
    <p>
    Mark Of COA : <input type="text" name="txt4"/>
    </p>
    <input type="submit"/>
</form>